/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
	text-decoration: none;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #222;
	background-color: #fdfdfd;
	max-width: 70ch;
	margin: 10px auto;
	padding: 0 5px;
}

code {
	font-family: 'Courier New', Courier, monospace;
	background-color: #f0f0f0;
	padding: 5 5px;
	border-radius: 3px;
	font-size: 1em;
	
}

h1, h2, h3 {

}

h1 {

}

h2 {

}

h3 {
	
}

header {
	
}

main {

}

p {

}

#intro {

}

#how-does-it-work, #influence, #joke {

}