/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
	text-decoration: none;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #222;
	background-color: #fdfdfd;
	max-width: 70ch;
	margin: 10px auto;
	padding: 0 5px;
}

code {
	font-family: 'Courier New', Courier, monospace;
	background-color: #f0f0f0;
	padding: 5 5px;
	border-radius: 3px;
	font-size: 16px;
	
}

h1, h2, h3 {
	font-family: "Merriweather", Georgia, serif;
	font-weight: 700;
  	line-height: 1.3;
  	color: #111;
  	margin-bottom: 10px;

}

h1 {
	font-size: 36px;
 	text-align: center;
  	margin-top: 16px;
	margin-bottom: 20px;
}

h2 {
	font-size: 26px;
  	margin-top: 32px;
}

h3 {
	font-size: 20px;
  	font-style: italic;
  	margin-top: 24px;
	margin-bottom: 8px;
}

header {
	background-color: rgb(233, 75, 75);
	color: white;
	padding: 32px 16px;
	text-align: center;
	border-radius: 0 0 10px 10px;
	
}

main {

}

p {

}

#intro {

}

#how-does-it-work, #influence, #joke {

}